<p id="notice"><%= notice %></p>

<p>
  <strong>Part number:</strong>
  <%= @part.part_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @part.manufacturer %>
</p>

<p>
  <strong>Stock quantity:</strong>
  <%= @part.stock_quantity %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
